<div th:insert="fragments/header :: modelheader"></div>
<div class="container">
    <head>
        <title>Cadastro de Endereço</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <form th:action="@{/enderecos/save}" th:object="${endereco}" method="get">

            <input type="hidden" th:field="*{id}">
            
            <div class="form-group mx-sm-3 mb-2">
                <label class="sr-only">Bairro</label>
                <input type="text" th:field="*{bairro}" class="form-control" placeholder="Bairro">
            </div>
            
            <div class="form-group mx-sm-3 mb-2">
                <label class="sr-only">Logradouro</label>
                <input type="text" th:field="*{logradouro}" class="form-control" placeholder="Logradouro">
            </div>
            
            <div class="form-group mx-sm-3 mb-2">
                <label class="sr-only">Numero</label>
                <input type="text" th:field="*{numero}" class="form-control" placeholder="Numero">
            </div>
            
            <div class="form-group mx-sm-3 mb-2">
                <label class="sr-only">Cep</label>
                <input type="text" th:field="*{cep}" class="form-control" placeholder="Cep">
            </div>   
            
            <select th:name="id_municipio" class="form-control" id="dropDownList">
                <option value="0">Selecione um município</option>
                <option th:each="municipio : ${municipios}" th:value="${municipio.id}" 
                th:text="${municipio.nome}"></option>
            </select>  
            
            <button type="submit" value="Enviar" class="btn btn-primary mb-2">Enviar</button>
        </form>
    </body>
</div>
<div th:insert="fragments/footer :: modelfooter"></div>