<div th:insert="fragments/header :: modelheader"></div>
<div class="container">
    <head>
        <title>Lista de Endereços</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <table class="table table-bordered" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Bairro</th>
                <th>Logradouro</th>
                <th>Número</th>
                <th>CEP</th>
            </tr>
        </thead>
        <tr th:each="e : ${endereco}">
            <td th:text="${e.id}"> </td>
            <td th:text="${e.bairro}"> </td>
            <td th:text="${e.logradouro}"> </td>
            <td th:text="${e.numero}"> </td>
            <td th:text="${e.cep}"> </td>
        </tr>
    </table>
</body>
</div>
<div th:insert="fragments/footer :: modelfooter"></div>