<div th:insert="fragments/header :: modelheader"></div>
<div class="container">
    <head>
        <title>Carrinho de Compras</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>        
        <span><p>Dados da Compra</p></span>
        <table class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Total</th>
                </tr>
            </thead>       
            <tr>
                <td th:text="${venda.id}"> </td>
                <td th:text="${#temporals.format(venda.data, 'dd/MM/yyyy')}"> </td>
                <td th:text="${#numbers.formatCurrency(venda.total())}"> </td>
            </tr>
        </table>
        <span><p>Dados do Cliente</p></span>
        <table class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>CPF</th>
                </tr>
            </thead>
            <tr>
                <td th:text="${venda.clientePF.id}"> </td>
                <td th:text="${venda.clientePF.nome}"> </td>
                <td th:text="${venda.clientePF.cpf}"> </td>
            </tr>
        </table>
        
        <span><p>Forma de Pagamento</p></span>
        <table class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th>Forma de Pagamento</th>
                </tr>
            </thead>
            <tr>
                <td th:text="${venda.pagamento.formaPagamento}"> </td>
            </tr>
        </table>
        
        <span><p>Endereço de Entrega</p></span>
        <table class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Bairro</th>
                    <th>Logradouro</th>
                    <th>Número</th>
                    <th>CEP</th>
                </tr>
            </thead>
            <tr th:each="e : ${venda.endereco}">
                <td th:text="${e.id}"> </td>
                <td th:text="${e.bairro}"> </td>
                <td th:text="${e.logradouro}"> </td>
                <td th:text="${e.numero}"> </td>
                <td th:text="${e.cep}"> </td>
            </tr>
        </table>
        <span><p>Produtos</p></span>
        <table class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Qtd</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tr th:each="iv : ${venda.itens}">
                <td th:text="${iv.produto.descricao}"> </td>
                <td th:text="${iv.produto.valor}"> </td>
                <td th:text="${iv.qtd}"> </td>
                <td th:text="${iv.total()}"> </td>
            </tr>
        </table>
        <a th:href="@{/vendas/list}" class="btn btn-dark" >Voltar</a>    
    </body>
</div>
<div th:insert="fragments/footer :: modelfooter"></div>
