<div th:insert="fragments/header :: modelheader"></div>
<div class="container">
    <head>
        <title>Carrinho de Compras</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <div th:class="${!#strings.isEmpty(Erro)} ? 'alert alert-danger'" >
            <span th:text="${!#strings.isEmpty(Erro)} ? ${Erro}"> </span>
        </div>
        <table class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Total</th>
                </tr>
            </thead>       

            <tr th:each="iv : ${session.venda.itens}">
                <td th:text="${iv.produto.descricao}"> </td>
                <td th:text="${iv.qtd}"> </td>
                <td th:text="${#numbers.formatCurrency(iv.total())}"></td>
            </tr>            
        </table>           
        <a class="btn btn-success" href="/produtos/list" role="button">Continuar Comprando</a>    

        <form th:action="@{/vendas/save}" method="get">
           <select th:name="id_endereco" class="form-control" id="dropDownList">
                <option value="0">Selecione um endereço</option>
                <option th:each="endereco : ${enderecos}" th:value="${endereco.id}" 
                th:text="${endereco.logradouro}"></option>
            </select>
            
            <select th:name="id_pagamento" class="form-control" id="dropDownList">
                <option value="0">Selecione uma forma de pagamento</option>
                <option th:each="pagamento : ${pagamentos}" th:value="${pagamento.id}" 
                th:text="${pagamento.formaPagamento}"></option>
            </select>
            
            <button type="submit" value="Enviar" class="btn btn-dark">Concluir Compra</button>
        </form>
    </body>    
</div>

<div th:insert="fragments/footer :: modelfooter"></div>
