<div th:insert="fragments/header :: modelheader"></div>
<head>
    <title>Lista de Produtos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">      
</head>
<body>
    <table class="table table-bordered" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tr th:each="v : ${vendas}">
            <td th:text="${v.id}"> </td>
            <td th:text="${#temporals.format(v.data, 'dd/MM/yyyy')}"></td>
            <td th:text="${#numbers.formatCurrency(v.total())}"></td> 
        </tr>
    </table>
</body>
<div th:insert="fragments/footer :: modelfooter"></div>
</html>