<div th:insert="fragments/header :: modelheader"></div>
<div class="container">
    <head>
        <title>Lista de Produtos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      
    </head>
    <body>
        <table class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <div th:action="@{/vendas/list}">
                <tr th:each="v : ${vendas}">
                    <td th:text="${v.id}"> </td>
                    <td th:text="${#temporals.format(v.data, 'dd/MM/yyyy')}"></td>
                    <td th:text="${#numbers.formatCurrency(v.total())}"></td>
                    <td><a th:href="@{/vendas/detalhes/{id}(id=${v.id})}">
                            <button name="detalhes" id="detalhes" class="btn btn-dark">
                                Detalhes
                            </button>   
                        </a>
                    </td>
                </tr>
            </div>
        </table>
    </body>
</div>
<div th:insert="fragments/footer :: modelfooter"></div>
</html>